doctype html
head
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="icon", href="favicon.ico")
  title GEC
  meta(name='description', content='auté et d’une identité digitale.')
  meta(name='Keywords', content='digital, agency, sport, smooth, UI/UX')
  link(href="../css/normalize.css", rel="stylesheet", type="text/css")
  link(href="../css/main.css", rel="stylesheet", type="text/css")
  link(href="../css/responsive.css", rel="stylesheet", type="text/css")
  base(href='/')

body

  .view


.templates
  include ./templates

//- Webpack Bundles
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCT7W2cXe5ubk0u5LQYke2lSQqpShoxYz8')
script(src='./vendor.bundle.js')
script(src='./app.bundle.js')
