.container
  header
    .row
      ul.tabs
        li.openDropdown
          | Le groupe
          img(src='/img/arrow.svg')
          .dropdown
            a(href='/bordeaux') Bordeaux
            a(href='/biscarosse') Biscarosse
            a(href='/sanguinet') Sanguinet
        li.scrollTo(data-scroll='waves') Nos valeurs
        li
          img.logo(src='/img/logos/gec-logo-{{place.id}}.svg')
        li.scrollTo(data-scroll='missions') Nos missions
        li.scrollTo(data-scroll='infos') Contact

      ul.tabs.mobile
        li
          img.logo(src='/img/logos/gec-logo-{{place.id}}.svg')
        li.openDropdown
          | Le groupe
          img(src='/img/arrow.svg')
          .dropdown
            a(href='/bordeaux') Bordeaux
            a(href='/biscarosse') Biscarosse
            a(href='/sanguinet') Sanguinet

  section#home.setSize
    .centered
      h1 Groupe Expertise Conseil
      h2 L'expertise comptable au service de la convivialité
  section#waves
    .row
      .block.values.show-waves(data-appear-top-offset="-150")
        h3 Nos valeurs et notre philosophie
        p Vous vous demandez si une approche conviviale de l'ensemble de vos préoccupations quotidiennes qui nécessitent les compétences d'un spécialiste multifonction est concevable? Si l'expert comptable n'a pas la prétention de pouvoir apporter une réponse à tous vos problèmes, dans son domaine de compétences, il est reconnu comme étant le partenaire privilégié de l'entreprise. Mais ce n'est pas tout, il peut aussi devenir le partenaire avisé des particuliers en répondant à leurs préoccupations dans les domaines fiscaux, sociaux, juridiques et bien sûr comptables. Notre approche humaniste nous permet de dépasser « les problèmes » à résoudre afin de partager avec nos interlocuteurs des perspectives d'avenir.
        span - Bertrand Fosse, Expert comptable & fondateur de GEC

      a.block.showData.openPopup.show-waves(data-appear-top-offset="-150", data-popup='stats')
        span Voir les chiffres clés actualisés

      ul#missions.stuff.block
        li.show-waves(data-appear-top-offset="-150")
          .centered
            i.icon
              img(src='/img/icons/fleche.svg')
            span Crée son activité
          .data
            .align
            .centered
              p Vous avez une idée? Nous avons les réponses pour mettre en oeuvre vos réflexions:
              ul
                li Fiscales : choix entre l'entreprise individuelle ou la société ;
                li Sociales : devenir dirigeant salarié ou non salarié ;
                li Juridiques : forme de la société, rédaction des statuts et formalités administratives ;
                li Financières : élaboration d'un prévisionnelle triennale traduisant la pertinences de votre projet.
              p GEC vous apporte des réponses personnalisées et adaptées dans tous ces domaines.
        li.show-waves(data-appear-top-offset="-150")
          .centered
            i.icon
              img(src='/img/icons/calculette.svg')
            span Au quotidien
          .data
            .align
            .centered
              p Vous avez des obligations? Nous vous aidons à y répondre dans les temps. Sur la base des documents que vous nous communiquez, nous répondons à vos obligations dans les domaines suivants :
              ul
                li Comptabilité : saisie régulière des informations ;
                li Fiscalité : de la déclaration de la TVA à l'établissement de liasse fiscale ;
                li Social : de la déclaration d'embauche à la rupture du contrat de travail en passant par l'établissement des salaires et des charges correspondantes ;
                li Juridique : mise en place et suivi des assemblées, ainsi que de toutes modifications juridiques.
        li.show-waves(data-appear-top-offset="-150")
          .centered
            i.icon
              img(src='/img/icons/soleil.svg')
            span En fin d'exercice
          .data
            .align
            .centered
              p Quels sont vos objectifs pour demain? Sur la base des éléments présentés, nous serons en mesure de vous aider à construire votre avenir avec vos projets :
              ul
                li Compte rendu individualisé de votre activité en direct avec votre expert comptable telle que sa déontologie l'y engage ;
                li Remise des états financiers sous forme matérielle ou dématérialisée, avec l'autorisation du client, à l'usage des partenaires de l'entreprise (banque, assurance...) ;
                li Mise en place d'un prévisionnelle adaptés à vos besoins d'investissements et d’un tableau de bord personnalisé selon votre situation.
        li.show-waves(data-appear-top-offset="-150")
          .centered
            i.icon
              img(src='/img/icons/lumiere.svg')
            span Missions annexes
          .data
            .align
            .centered
              p Bien qu'internet ne soit pas obligatoire dans chaque foyer, la réalité impose à chacun son utilisation pour répondre à des obligations fiscales. La réalisation de vos obligations déclaratives, par sa complexité, demande une expérience que nous pouvons offrir aux particuliers :
              ul
                li Déclarations d'impôts sur le revenu ;
                li Déclarations foncières ;
                li Déclarations de société civile immobilière & juridique obligatoire ;
                li Déclarations d'impôts sur la fortune.

  section#infos
    .row
      ul.tabs
        li.tab
          h6 Horaires :
          span {{infos.opening.first}}
          span {{infos.opening.second}}
        li.tab
          h6 Adresse :
          span {{infos.address.alley}}
          span {{infos.address.post}}
        li.tab
          h6 Contact :
          span Mail : {{infos.mail}}
          span Téléphone : {{infos.phone}}
      #map

  footer
    .row
      .left
          <% if (place.id === 'bordeaux') { %>
          a(href='/biscarosse') GEC Biscarosse
          | -
          a(href='/sanguinet') GEC Sanguinet
          <% } else if (place.id === 'biscarosse') { %>
          a(href='/bordeaux') GEC Bordeaux
          | -
          a(href='/sanguinet') GEC Sanguinet
          <% } else { %>
          a(href='/bordeaux') GEC Bordeaux
          | -
          a(href='/biscarosse') GEC Biscarosse
          <% } %>
      .right © 2017 Copyright GEC {{place.name}}

  #stats.popup
    .veil
    .align
    .modal
      .top
        h4 Nos chiffres clé actualisés
        span Mis à jour le 17 mars 2017

      ul
        li
          h5 SMIC :
          span Horaire : 9,76 €
          span Mensuel (35h) : 1480,27 €

        li
          h5 Sécurité sociale :
          span Plafond mensuel 2017 : 3269 €
          span Le nouveau montant du plafond est valable toute l’année, le gouvernement ayant décidé de fixer désormais un seul plafond par an.

        li
          h5 Incide des loyers commerciaux :
          table
            tr
              th
              th En niveaux
              th Évolution annuel en %
            tr
              td 2015 T3
              td 108,38
              td -0,13
            tr
              td 2015 T4
              td 108,41
              td -0,06
            tr
              td 2016 T1
              td 108,40
              td +0,07
            tr
              td 2016 T2
              td 108,40
              td +0,02
            tr
              td 2016 T3
              td 108,56
              td +0,17
            tr
              td 2016 T4
              td 108,91
              td +0,46

        li
          h5 Incide de référance des loyers - IRL :
          span (baux d'habitation loi Mermaz)
          table
            tr
              th Trimestre de référence
              th IRL des loyers
              th Variation annuelle
            tr
              td 1er trimestre 2017
              td 125,90
              td +0,51%
            tr
              td 4ème trimestre 2016
              td 125,50
              td +0,18%

        li
          h5 Barème des frais de voitures 2016 :
          span Calcul pour une distance parcourue à titre personnel
          table
            tr
              th Puissance fiscale
              th Jusqu’à 5 000 km
              th de 5 001 à 20 000 km
              th Au-delà de 20 000 km
            tr
              td 3 CV
              td d x 0,41
              td (d x 0,245) + 824 €
              td d x 0,286
            tr
              td 4 CV
              td d x 0,493
              td (d x 0,277) + 1 082 €
              td d x 0,332
            tr
              td 5 CV
              td d x 0,543
              td (d x 0,305) + 1 188 €
              td d x 0,364
            tr
              td 6 CV
              td d x 0,568
              td (d x 0,32) + 1 244 €
              td d x 0,382
            tr
              td 7 CV et +
              td d x 0,595
              td (d x 0,337) + 1 288 €
              td d x 0,401

        li
          h5 Montant des frais déductible (repas 2017) :
          span Montant maximal TTC déductible des frais supplémentaires de repas (par jour) en fonction de l’année d’engagement des dépenses
          table
            tr
              td Évaluation forfaitaire de l’avantage en nature nourriture
              td 4,75 €
            tr
              td Limite d’exonération
              td 18,40 €
            tr
              td Montant maximal déductible par jour
              td 13,65 €

        li
          h5 Avantages en nature (logement) :
          table
            tr
              th Rémunération brute mensuelle
              th Pour 1 pièce
              th Par pièce principale (si plusieurs pièces)
            tr
              td Inférieure à 1 634,50 €
              td 68,50 €
              td 36,60 €
            tr
              td De 1 634,50 € à 1 961,39 €
              td 80,00 €
              td 51,40 €
            tr
              td De 1 961,40 € à 2 288,29 €
              td 91,30 €
              td 68,50 €

        li
          h5 Cotisations sociale personnelles en début d'activité :
          table
            tr
              th
              th Taux
              th Montant (euros)
            tr
              td Maladie-maternité
              td 3,95%
              td 294
            tr
              td Indemnités journalières
              td 1,48%
              td 110
            tr
              td Allocations familiales
              td 2,15%
              td 160
            tr
              td Retrait de base
              td 17,75%
              td 1323
            tr
              td Retraite complémentaire
              td 7,00%
              td 522
            tr
              td Invalidité-décès
              td 1,30%
              td 97
            tr
              td CSG et CRDS
              td 8,00%
              td 596
            tr
              th
              th
              th 3102
